# **Sprint#2. 고객이탈예측 모델링**
- 리워드유효여부에 따라 별도 모델링
- 비시계열/시계열 별도 데이터 셋 구성

## 데이터셋 구성
- 앱로그
1. 상위 depth별 월평균 체류시간
2. 하위 depth별 월평균 체류시간
3. 종료율 

3-1) 고이용군은 높으나 장기미접속군은 낮은 페이지별 종료율

3-2) 장기미접속군은 높으나 고이용군은 낮은 페이지별 종료율


4. 월평균 세션별 페이지수 

- 주간미션/리워드
1. 월별 주간미션 달성률
2. 월별 리워드 획득횟수

- 멤버
1. 앱푸쉬 여부
2. 월별 바이탈리티 측정횟수
3. 성별
4. 연령대
5. 등급승격소요일
6. 누적월별주간미션달성률

In [1]:
# google drive와 colab연동
from google.colab import auth

auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import os
path="./gdrive/MyDrive/Vitality 고객 행동 예측 과제/Data/"
os.chdir(path)

In [3]:
os.getcwd()

'/content/gdrive/MyDrive/Vitality 고객 행동 예측 과제/Data'

In [4]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import glob
import os

In [5]:
folder_name = 'Goal_Mission'
file_type = 'csv'
seperator =','
df = pd.concat([pd.read_csv(f, sep=seperator) for f in glob.glob(folder_name + "/*."+file_type)],ignore_index=True)
# 컬럼명 변경
df = df.rename(columns = { 'objective_sta_dt': '주간미션시작일', 'objective_state': '주간미션상태',
                            'points_target': '주간미션목표포인트', 'goal_state': '주간미션목표상태',
                            'points_achieved': '주간미션포인트획득상태', 'objective_end_dat': '주간미션성공일',
                            'goal_end_dt': '미션종료기한일', 'goal_status_chg_dt': '주간미션상태변경일' ,
                            'objective_status_chg_dt' : '주간미션연동일', 'vchr_dc' : '리워드설명',
                            'vchr_sta_dt': '리워드시작일', 'vchr_sel_dt': '리워드선택일', 'vchr_expr_dt': '리워드만료일',
                            'Voucher Status': '리워드상태', 'vchr_value': '리워드금액', 'vchr_st_cd':'리워드사용여부',
                            'vchr_sel_dt_ori': '리워드최초선택일', 'd_event_name': '이벤트타입명',
                            'd_event_value': '활동수','d_event_apl_dte': '이벤트동기화일',
                            'p_event_apl_dte': '포인트반영일', 'points_name' : '활동구분',
                            'points_value': '획득포인트', 'points_effective_dte':'포인트발생일',
                            'points_reason_category': '포인트획득사유유형','points_reason': '포인트획득사유',
                            'conn_equip': '디바이스제조사명','fst_reg_dte': '최초연동일'}, inplace = False)

## 전체 전처리
1. 일자 변환
2. 주차 추가
3. 월 추가

In [6]:
# 일자 변환
df['dt']=df['dt'].astype('str')

df['dt'] = pd.to_datetime(df['dt'],format='%Y%m%d')

# 주차 정보 추가
df['Week'] = pd.factorize(df['dt'].dt.weekofyear)[0] + 1

# # month 추가
# df['month'] = df['dt'].dt.month

In [7]:
df.head()

     std_dt  party_id     goal_id  ...     최초연동일         dt Week
0  20201102    892495  1255559564  ...  20201103 2020-11-02    1
1  20201102   2423482  1253718066  ...         # 2020-11-02    1
2  20201102   2916984  1253715006  ...         # 2020-11-02    1
3  20201102   9141996  1255441584  ...  20201102 2020-11-02    1
4  20201102  11825490  1255706054  ...         # 2020-11-02    1

[5 rows x 39 columns]

## 주간미션 분석항목
1. 월별 주간미션 달성률
2. 월별 리워드 획득횟수

###1.월별 주간미션 달성률

In [8]:
ms = df[['party_id','goal_id','Week','주간미션상태','주간미션포인트획득상태','주간미션연동일']]
ms = ms[ms.goal_id != '#']
ms = ms.drop_duplicates()
ms['주간미션연동일']= ms['주간미션연동일'].astype('str')
ms['주간미션연동일'] = pd.to_datetime(ms['주간미션연동일'],format='%Y%m%d')
# month 추가
ms['month'] = ms['주간미션연동일'].dt.month

ms['주간미션달성여부'] = np.where(ms['주간미션상태'] == "Achieved","1", "0")
ms['주간미션달성여부'] = ms['주간미션달성여부'].astype('int')
ms['주간미션달성횟수'] = ms.groupby(['party_id','month'])['주간미션달성여부'].transform('sum')
ms['월별최대달성횟수'] = ms.groupby(['month'])['주간미션달성횟수'].transform('max')

ms['월별미션달성률'] = round(ms['주간미션달성횟수']/ms['월별최대달성횟수']*100,1)
ms

           party_id     goal_id  Week  ... 주간미션달성횟수 월별최대달성횟수 월별미션달성률
0            892495  1255559564     1  ...        2        4    50.0
1           2423482  1253718066     1  ...        3        4    75.0
2           2916984  1253715006     1  ...        0        0     NaN
3           9141996  1255441584     1  ...        4        4   100.0
4          11825490  1255706054     1  ...        3        4    75.0
...             ...         ...   ...  ...      ...      ...     ...
3864067   181955081  1293658620    17  ...        0        5     0.0
3864100   200970417  1292823721    17  ...        0        5     0.0
3864110   201164764  1293594167    17  ...        0        5     0.0
3864153  1200267198  1292907421    17  ...        0        5     0.0
3864157  1200291249  1293178072    17  ...        0        5     0.0

[581673 rows x 11 columns]

In [9]:
ms['주간미션포인트획득상태'] = ms['주간미션포인트획득상태'].astype('int')
ms['총주간미션획득포인트'] = ms.groupby(['party_id','month'])['주간미션포인트획득상태'].transform('sum')
ms

           party_id     goal_id  Week  ... 월별최대달성횟수  월별미션달성률 총주간미션획득포인트
0            892495  1255559564     1  ...        4     50.0        650
1           2423482  1253718066     1  ...        4     75.0        850
2           2916984  1253715006     1  ...        0      NaN          0
3           9141996  1255441584     1  ...        4    100.0       2000
4          11825490  1255706054     1  ...        4     75.0       1500
...             ...         ...   ...  ...      ...      ...        ...
3864067   181955081  1293658620    17  ...        5      0.0          0
3864100   200970417  1292823721    17  ...        5      0.0          0
3864110   201164764  1293594167    17  ...        5      0.0          0
3864153  1200267198  1292907421    17  ...        5      0.0        150
3864157  1200291249  1293178072    17  ...        5      0.0        200

[581673 rows x 12 columns]

In [10]:
ms['party_id']=ms['party_id'].astype('str')
ms[ms['party_id']=='892495']

        party_id     goal_id  Week  ... 월별최대달성횟수  월별미션달성률 총주간미션획득포인트
0         892495  1255559564     1  ...        4     50.0        650
280112    892495  1258464120     2  ...        4     50.0        650
544913    892495  1260852568     3  ...        4     50.0        650
948679    892495  1264138306     5  ...        4     50.0        650
1140686   892495  1266686063     6  ...        6      0.0         50
1427437   892495  1272830469     8  ...        6      0.0         50

[6 rows x 12 columns]

In [11]:
ms[ms['month']==12]

           party_id     goal_id  Week  ... 월별최대달성횟수  월별미션달성률 총주간미션획득포인트
515820   1200121809  1261069806     3  ...        6     83.3       2500
527173    248298878  1260922600     3  ...        6     66.7       2000
712763    200212210  1263123940     4  ...        6     33.3        400
712811    200714880  1262664887     4  ...        6     50.0        650
712812    200733892  1262347681     4  ...        6     66.7       2850
...             ...         ...   ...  ...      ...      ...        ...
2123128  1200164037  1276752686    10  ...        6     16.7        250
2123229  1200278090  1277425575    10  ...        6     33.3        600
2123253     9799484  1276207557    10  ...        6      0.0          0
2123335   200559159  1277553779    10  ...        6     33.3        500
2123368   201045195  1276583855    10  ...        6      0.0          0

[145319 rows x 12 columns]

## 리워드 분석항목
1. 월별 리워드 참여자수/참여건수
2. 리워드 유형/금액별 참여률/사용률
3. 리워드 획득 후 앱방문 여부
4. 성/연령별 리워드 참여률/달성률

###1.월별 리워드 참여자수/참여건수

In [12]:
# 활동별로 파일 쪼개기
Reward = df[['Week','party_id','리워드설명','리워드시작일']]
Reward =Reward[Reward['리워드설명']!='#']
Reward['리워드시작일']= Reward['리워드시작일'].astype('str')
Reward['리워드시작일'] = pd.to_datetime(Reward['리워드시작일'],format='%Y%m%d')
# month 추가
Reward['month'] = Reward['리워드시작일'].dt.month
Reward = Reward.drop_duplicates()
Reward

         Week    party_id               리워드설명     리워드시작일  month
3           1     9141996  SK Telecom Voucher 2020-11-09     11
7           1    46712094  SK Telecom Voucher 2020-11-06     11
8           1    48541598  SK Telecom Voucher 2020-11-08     11
10          1    49322580   Starbucks Voucher 2020-11-11     11
15          1   100402592  SK Telecom Voucher 2020-11-07     11
...       ...         ...                 ...        ...    ...
3814283    17  1200335135  SK Telecom Voucher 2021-03-03      3
3819936    17   200399671  SK Telecom Voucher 2021-02-28      2
3825921    17   200378467  SK Telecom Voucher 2021-02-28      2
3828094    17  1200269940   Starbucks Voucher 2021-02-28      2
3833441    17   200143151  SK Telecom Voucher 2021-02-28      2

[175589 rows x 5 columns]

In [13]:
Reward['리워드획득여부']='1'
Reward['리워드획득여부'] = Reward['리워드획득여부'].astype('int')
Reward['월별리워드획득횟수 '] = Reward.groupby(['party_id','month'])['리워드획득여부'].transform('sum')
Reward

         Week    party_id               리워드설명  ... month  리워드획득여부  월별리워드획득횟수
3           1     9141996  SK Telecom Voucher  ...    11        1           4
7           1    46712094  SK Telecom Voucher  ...    11        1           4
8           1    48541598  SK Telecom Voucher  ...    11        1           4
10          1    49322580   Starbucks Voucher  ...    11        1           2
15          1   100402592  SK Telecom Voucher  ...    11        1           4
...       ...         ...                 ...  ...   ...      ...         ...
3814283    17  1200335135  SK Telecom Voucher  ...     3        1           1
3819936    17   200399671  SK Telecom Voucher  ...     2        1           2
3825921    17   200378467  SK Telecom Voucher  ...     2        1           1
3828094    17  1200269940   Starbucks Voucher  ...     2        1           2
3833441    17   200143151  SK Telecom Voucher  ...     2        1           1

[175589 rows x 7 columns]

In [14]:
ms = ms[['party_id','goal_id', 'Week','주간미션상태', '주간미션포인트획득상태', '주간미션연동일',
        '주간미션달성여부', '주간미션달성횟수', '월별최대달성횟수', '월별미션달성률', '총주간미션획득포인트']]
ms = ms.drop_duplicates()
ms

           party_id     goal_id  Week  ... 월별최대달성횟수  월별미션달성률 총주간미션획득포인트
0            892495  1255559564     1  ...        4     50.0        650
1           2423482  1253718066     1  ...        4     75.0        850
2           2916984  1253715006     1  ...        0      NaN          0
3           9141996  1255441584     1  ...        4    100.0       2000
4          11825490  1255706054     1  ...        4     75.0       1500
...             ...         ...   ...  ...      ...      ...        ...
3864067   181955081  1293658620    17  ...        5      0.0          0
3864100   200970417  1292823721    17  ...        5      0.0          0
3864110   201164764  1293594167    17  ...        5      0.0          0
3864153  1200267198  1292907421    17  ...        5      0.0        150
3864157  1200291249  1293178072    17  ...        5      0.0        200

[581673 rows x 11 columns]

In [26]:
Reward['party_id'] = Reward['party_id'].astype('str')
ms['party_id'] = ms['party_id'].astype('str')
ms_summary = pd.merge(Reward, ms,how='outer',on=["party_id", "Week"])
ms_summary

       Week    party_id               리워드설명  ... 월별최대달성횟수  월별미션달성률  총주간미션획득포인트
0         1     9141996  SK Telecom Voucher  ...        4    100.0        2000
1         1    46712094  SK Telecom Voucher  ...        4    100.0        2000
2         1    48541598  SK Telecom Voucher  ...        4    100.0        2000
3         1    49322580   Starbucks Voucher  ...        4     75.0        1500
4         1   100402592  SK Telecom Voucher  ...        4    100.0        2000
...     ...         ...                 ...  ...      ...      ...         ...
581668   17   181955081                 NaN  ...        5      0.0           0
581669   17   200970417                 NaN  ...        5      0.0           0
581670   17   201164764                 NaN  ...        5      0.0           0
581671   17  1200267198                 NaN  ...        5      0.0         150
581672   17  1200291249                 NaN  ...        5      0.0         200

[581673 rows x 16 columns]

In [27]:
ms_summary = ms_summary.drop_duplicates()
ms_summary

       Week    party_id               리워드설명  ... 월별최대달성횟수  월별미션달성률  총주간미션획득포인트
0         1     9141996  SK Telecom Voucher  ...        4    100.0        2000
1         1    46712094  SK Telecom Voucher  ...        4    100.0        2000
2         1    48541598  SK Telecom Voucher  ...        4    100.0        2000
3         1    49322580   Starbucks Voucher  ...        4     75.0        1500
4         1   100402592  SK Telecom Voucher  ...        4    100.0        2000
...     ...         ...                 ...  ...      ...      ...         ...
581668   17   181955081                 NaN  ...        5      0.0           0
581669   17   200970417                 NaN  ...        5      0.0           0
581670   17   201164764                 NaN  ...        5      0.0           0
581671   17  1200267198                 NaN  ...        5      0.0         150
581672   17  1200291249                 NaN  ...        5      0.0         200

[581673 rows x 16 columns]

In [28]:
ms_summary['리워드획득여부']=ms_summary['리워드획득여부'].astype('str')
ms_summary['리워드획득여부'] = np.where(ms_summary['리워드획득여부'] == "1.0","1", "0")
ms_summary

       Week    party_id               리워드설명  ... 월별최대달성횟수  월별미션달성률 총주간미션획득포인트
0         1     9141996  SK Telecom Voucher  ...        4    100.0       2000
1         1    46712094  SK Telecom Voucher  ...        4    100.0       2000
2         1    48541598  SK Telecom Voucher  ...        4    100.0       2000
3         1    49322580   Starbucks Voucher  ...        4     75.0       1500
4         1   100402592  SK Telecom Voucher  ...        4    100.0       2000
...     ...         ...                 ...  ...      ...      ...        ...
581668   17   181955081                 NaN  ...        5      0.0          0
581669   17   200970417                 NaN  ...        5      0.0          0
581670   17   201164764                 NaN  ...        5      0.0          0
581671   17  1200267198                 NaN  ...        5      0.0        150
581672   17  1200291249                 NaN  ...        5      0.0        200

[581673 rows x 16 columns]

In [33]:
ms_summary.to_csv('Seg/ms_summary.csv')